<h1>Sign in</h1>
<%= form_tag sessions_path do %>
	<p>
		<%= label_tag :email %>
		<%= text_field_tag :email, params[:email] %>
	</p>

	<p>
		<%= label_tag :password %>
		<%= password_field_tag :password%>
	</p>

	<p><%= link_to 'Forgot password?', new_user_password_path %></p>

	<p><%= submit_tag 'Sign in' %></p>
<% end %>